

    <h3 class="taxes-centered"><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "services").html_safe %></h3>

    <p><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "services_para").html_safe %></p>

<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "prep").html_safe %></h4>

  </div>
  <div class="panel-body">
    <p><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "prep_para").html_safe %></p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "planning").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "planning_para").html_safe %></p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">

    <h4><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "amended_returns").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "amended_returns_para").html_safe %></p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "correspondence").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "correspondence_para").html_safe %></p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "payment_plans").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "payment_plans_para").html_safe %></p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "electronic_filing").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "electronic_filing_para").html_safe %></p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "direct_deposit").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "direct_deposit_para").html_safe %></p>
    <br>
    <br>


    <div class=" taxes-centered">
      <a href="https://cisc.sbtpg.com/taxpayers/refund_transfer.aspx">
        <img src= <%= "assets/" + ApplicationHelper.get_language_tag + "tpg_banner.jpg" %> class="img-rounded img-responsive taxes-centered-image">
      </a>
    </div>
  </div>
</div>
<hr>
<div class="panel ">
  <div class="panel-heading">

    <h4><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "mail").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "mail_para").html_safe %></p>
  </div>
</div>
<hr>


<div class="panel ">
  <div class="panel-heading">
    <h4><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "free_copies").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "free_copies_para").html_safe %></p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "free_consultation").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "free_consultation_para").html_safe %></p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "free_review").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "free_review_para").html_safe %></p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "notary_services").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "notary_services_para").html_safe %></p>
  </div>
</div>
<hr>
<div class="panel ">
  <div class="panel-heading">

    <h4><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "translations").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "translations_para").html_safe %></p>

    <img src="/assets/world.png" class="img-rounded img-responsive taxes-centered-image">
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "travel").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= ServicesHelper.send(ApplicationHelper.get_language_tag + "travel_para").html_safe %></p>
  </div>
</div>