<h3 class="taxes-centered"><%= QuestionsAndAnswersHelper.send(ApplicationHelper.get_language_tag + "questions_and_answers").html_safe %></h3>

<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= QuestionsAndAnswersHelper.send(ApplicationHelper.get_language_tag + "where_located").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= QuestionsAndAnswersHelper.send(ApplicationHelper.get_language_tag + "where_located_para").html_safe %>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= QuestionsAndAnswersHelper.send(ApplicationHelper.get_language_tag + "what_address").html_safe %> </h4>
  </div>
  <div class="panel-body">
    <p><%= QuestionsAndAnswersHelper.send(ApplicationHelper.get_language_tag + "what_address_para").html_safe %></p>
  </div>
</div>
<hr>


<div class="panel ">
  <div class="panel-heading">
    <h4><%= QuestionsAndAnswersHelper.send(ApplicationHelper.get_language_tag + "what_hours").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= QuestionsAndAnswersHelper.send(ApplicationHelper.get_language_tag + "what_hours_para").html_safe %>

    </p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= QuestionsAndAnswersHelper.send(ApplicationHelper.get_language_tag + "why_taxes").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= QuestionsAndAnswersHelper.send(ApplicationHelper.get_language_tag + "why_taxes_para").html_safe %>

    </p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= QuestionsAndAnswersHelper.send(ApplicationHelper.get_language_tag + "can_return").html_safe %> </h4>
  </div>
  <div class="panel-body">
    <p><%= QuestionsAndAnswersHelper.send(ApplicationHelper.get_language_tag + "can_return_para").html_safe %>

    </p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= QuestionsAndAnswersHelper.send(ApplicationHelper.get_language_tag + "how_taxes").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= QuestionsAndAnswersHelper.send(ApplicationHelper.get_language_tag + "how_taxes_para").html_safe %>

    </p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= QuestionsAndAnswersHelper.send(ApplicationHelper.get_language_tag + "what_preparation").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= QuestionsAndAnswersHelper.send(ApplicationHelper.get_language_tag + "what_preparation_para").html_safe %>

    </p>
  </div>
</div>
<hr>


<div class="panel ">
  <div class="panel-heading">
    <h4><%= QuestionsAndAnswersHelper.send(ApplicationHelper.get_language_tag + "does_e_file").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= QuestionsAndAnswersHelper.send(ApplicationHelper.get_language_tag + "does_e_file_para").html_safe %>

    </p>
  </div>
</div>
<hr>