<h3 class="taxes-centered"><%= PrivacyHelper.send(ApplicationHelper.get_language_tag + "privacy_policy").html_safe %></h3>

<p>
  <%= PrivacyHelper.send(ApplicationHelper.get_language_tag + "privacy_policy_para1").html_safe %>
  <br>
  <br>
  <%= PrivacyHelper.send(ApplicationHelper.get_language_tag + "privacy_policy_para2").html_safe %>

  <br>
  <br>
  <%= PrivacyHelper.send(ApplicationHelper.get_language_tag + "privacy_policy_para3").html_safe %>


  <br>
  <br>

<ul>
  <%= PrivacyHelper.send(ApplicationHelper.get_language_tag + "information_list").html_safe %>


</ul>

<br>
<%= PrivacyHelper.send(ApplicationHelper.get_language_tag + "privacy_policy_para4").html_safe %>

</p>
