<div class="taxes-small">
<div class="taxes-centered-image">


    <ol class="carousel-linked-nav pagination pagination-sm">


      <li class="active"><a href="#1">1</a></li>
      <li><a href="#2">2</a></li>
      <li><a href="#3">3</a></li>
      <li><a href="#4">4</a></li>
      <li><a href="#5">5</a></li>
      <li><a href="#6">6</a></li>
      <li><a href="#7">7</a></li>
      <li><a href="#8">8</a></li>
      <li><a href="#9">9</a></li>
      <li><a href="#10">10</a></li>


    </ol>


</div>

<div id="testimonialCarousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div id="testimonial1" class="item active">
      <p>

        <%= SidebarHelper.send(ApplicationHelper.get_language_tag + "disclaimer")%>

      </p>
    </div>

    <div id="testimonial1" class="item">
      <p>
        <%= SidebarHelper.send(ApplicationHelper.get_language_tag + "testimonial7").html_safe%>
      </p>
    </div>

    <div id="testimonial2" class="item">
      <p>
        <%= SidebarHelper.send(ApplicationHelper.get_language_tag + "testimonial2").html_safe%>
      </p>
    </div>

    <div id="testimonial3" class="item">
      <p>
        <%= SidebarHelper.send(ApplicationHelper.get_language_tag + "testimonial8").html_safe%>
      </p>
    </div>

    <div id="testimonial4" class="item">
      <p>
        <%= SidebarHelper.send(ApplicationHelper.get_language_tag + "testimonial4").html_safe%>
      </p>
    </div>

    <div id="testimonial5" class="item">
      <p>
        <%= SidebarHelper.send(ApplicationHelper.get_language_tag + "testimonial5").html_safe%>
      </p>
    </div>

    <div id="testimonial6" class="item">
      <p>
        <%= SidebarHelper.send(ApplicationHelper.get_language_tag + "testimonial6").html_safe%>
      </p>
    </div>

    <div id="testimonial7" class="item">
      <p>
        <%= SidebarHelper.send(ApplicationHelper.get_language_tag + "testimonial3").html_safe%>
      </p>
    </div>

    <div id="testimonial8" class="item">
      <p>
        <%= SidebarHelper.send(ApplicationHelper.get_language_tag + "testimonial1").html_safe%>
      </p>
    </div>

    <div id="testimonial9" class="item">
      <p>
        <%= SidebarHelper.send(ApplicationHelper.get_language_tag + "testimonial9").html_safe%>
      </p>
    </div>

    <div id="testimonial10" class="item">
      <p>
        <%= SidebarHelper.send(ApplicationHelper.get_language_tag + "testimonial10").html_safe%>
      </p>
    </div>

  </div>


</div>

</div>