<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :user_id %><br/>

    <%= f.label :password%>
    <%= f.password_field :password%><br/>

    <%= f.label :password_confirmation%>
    <%= f.password_field :password_confirmation%><br/>
    
    <%= f.label "First name:"%>
    <%= f.text_field :first_name%><br/>

    <%= f.label "Last name:"%>
    <%= f.text_field :last_name%><br/>

  </div>
  <div class="actions">
    <%= f.submit "create account"%>
  </div>
<% end %>
