

<h3 class="taxes-centered"><%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin" ).html_safe%></h3>

<p>
  <%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_para1" ).html_safe%>

</p>

<br>
<br>

<p>
  <%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_para2" ).html_safe%>

</p>

<br>
<br>

<p>
  <%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_para3" ).html_safe%>

</p>

<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_use" ).html_safe%></h4>
  </div>
  <div class="panel-body">
    <p>
      <%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_use_para1" ).html_safe%>

    </p>
    <br>
    <br>
    <p>
      <%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_use_para2" ).html_safe%>

    </p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_need" ).html_safe%></h4>
  </div>
  <div class="panel-body">
    <p>
      <%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_need_para" ).html_safe%>

    </p>
    <br>
    <br>
    <h5><%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_need_list_header" ).html_safe%></h5>
    <ul>
      <%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_need_list" ).html_safe%>


    </ul>

  </div>
</div>

<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_know" ).html_safe%></h4>
  </div>
  <div class="panel-body">
    <%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_know_para" ).html_safe%>

  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_apply" ).html_safe%></h4>
  </div>
  <div class="panel-body">
    <%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_apply_para" ).html_safe%>

  </div>
</div>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_when" ).html_safe%></h4>
  </div>
  <div class="panel-body">
    <%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_when_para" ).html_safe%>

  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_where" ).html_safe%></h4>
  </div>
  <div class="panel-body">
    <%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_where_para" ).html_safe%>

  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_how" ).html_safe%></h4>
  </div>
  <div class="panel-body">
    <p>
      <%= ItinHelper.send(ApplicationHelper.get_language_tag + "itin_how_para" ).html_safe%>

    </p>
  </div>
</div>
<hr>