
<%= render 'misc/welcome' %>

<div class="">
  <img src="/assets/team_changed.jpg" class="img-rounded img-responsive taxes-centered-image">
</div>

<hr>

<div class="panel">
  <div class="panel-heading">
    <h4><%= HomeHelper.send(ApplicationHelper.get_language_tag + "thanks").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= HomeHelper.send(ApplicationHelper.get_language_tag + "para1").html_safe %></p>

    <p><%= HomeHelper.send(ApplicationHelper.get_language_tag + "para2").html_safe %></p>

    <p><%= HomeHelper.send(ApplicationHelper.get_language_tag + "para3").html_safe %></p>

    <p><%= HomeHelper.send(ApplicationHelper.get_language_tag + "para4").html_safe %></p>

    <p><%= HomeHelper.send(ApplicationHelper.get_language_tag + "para5").html_safe %></p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= HomeHelper.send(ApplicationHelper.get_language_tag + "offer_header").html_safe %></h4>
  </div>
  <div class="panel-body">
    <ul>

      <li><%= HomeHelper.send(ApplicationHelper.get_language_tag + "offer1").html_safe %></li>
      <li><%= HomeHelper.send(ApplicationHelper.get_language_tag + "offer2").html_safe %></li>
      <li><%= HomeHelper.send(ApplicationHelper.get_language_tag + "offer3").html_safe %></li>
      <li><%= HomeHelper.send(ApplicationHelper.get_language_tag + "offer4").html_safe %></li>
      <li><%= HomeHelper.send(ApplicationHelper.get_language_tag + "offer6").html_safe %></li>
      <li><%= HomeHelper.send(ApplicationHelper.get_language_tag + "offer7").html_safe %></li>
      <li><%= HomeHelper.send(ApplicationHelper.get_language_tag + "offer8").html_safe %></li>
    </ul>
  </div>
</div>

  <hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= GeneralHelper.send(ApplicationHelper.get_language_tag + "guarantee").html_safe %></h4>
  </div>
  <div class="panel-body">

    <p><%= GeneralHelper.send(ApplicationHelper.get_language_tag + "guarantee_para").html_safe %></p>
  </div>
</div>

  <hr>
<div class="panel ">
  <div class="panel-heading">
    <h4><%= GeneralHelper.send(ApplicationHelper.get_language_tag + "dont_wait").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= GeneralHelper.send(ApplicationHelper.get_language_tag + "call").html_safe %></p>

  </div>
</div>