<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

  <title>
    <%= "48th street" %>
  </title>
  <%= stylesheet_link_tag 'application', media: "all", "data-turbolinks-track" => true%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
</head>
<body role="document">
<div class="container">
  <div class="container">

  <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">48thstreet</a>
    </div>
    <div id="navbarCollapse" class="collapse navbar-collapse taxes-navbar-content">
      <ul class="nav navbar-nav">

        <li> <%= if @english  then link_to("espa&ntildeol".html_safe, change_language_path, :method => 'get') else link_to("english",change_language_path, :method => 'get') end %></li>
      <% if !@current_user %>

          <li><%= link_to(ApplicationHelper.send(ApplicationHelper.get_language_tag + "login").html_safe, '/login', :method => 'get', :class => "hidden") %></li>
      <%else%>

            <li> <%= link_to(ApplicationHelper.send(ApplicationHelper.get_language_tag + "logoff").html_safe,'/logout', :method => 'delete')%></li>

        <%end%>

        <li> <%= link_to(ApplicationHelper.send(ApplicationHelper.get_language_tag + "home").html_safe, home_path, :method => 'get',"data-toggle" => "tab") %></li>
        <li> <%= link_to(ApplicationHelper.send(ApplicationHelper.get_language_tag + "about").html_safe, about_path, :method => 'get', "data-toggle" => "tab") %> </li>
        <li> <%= link_to(ApplicationHelper.send(ApplicationHelper.get_language_tag + "services").html_safe, services_path, :method => 'get', "data-toggle" => "tab") %></li>
        <li> <%= link_to("itin information") %></li>
        <li> <%= link_to("questions/answers",'/questions_and_answers', :method => 'get') %></li>
        <li> <%= link_to("our privacy policy",'/privacy',:method => 'get') %></li>
        <li> <%= link_to("our location", '/location', :method => 'get') %></li>

        <% if @current_user %>
            <li><%= link_to(ApplicationHelper.send(ApplicationHelper.get_language_tag + "view_profile").html_safe,user_view_profile_path, :method => 'get') %></li>

        <% end %>

      </ul>
    </div>
    </div>
  </nav>

    </div>
      <div id="main" class="container theme-showcase taxes-content" role="main">

        <div class="jumbotron taxes-jumbotron">
          <h1 class="taxes-centered">48th STREET INCOME TAX SERVICE</h1>

          <br>
          <p class="right-aligned">
            <a class="btn btn-lg taxes-button" href="/change_to_english" role="button">English</a>
            <a class="btn btn-lg taxes-button" href="/change_to_spanish" role="button">Espa&ntildeol</a>
          </p>
        </div>

        <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "alert alert-#{name}" %>
        <% end -%>

            <div class="row">
              <div class="col-xs-9 ">

                <%= yield %>
              </div>

              <div class="col-xs-3 ">
                <%= render 'sidebar/sidebar' %>
              </div><!-- /.sidebar -->



              </div>
            </div><!-- /.row -->


            <hr>

            <div class="row">
              <div class="col-xs-4">
                <%= link_to(image_tag("natp_logo_words_2.jpg"), "http://www.natptax.com/Pages/default.aspx") %>
              </div>
              <div class="col-xs-4">
                <%= link_to(image_tag("ata_logo.png"), "https://www.atanet.org/") %>
              </div>
              <div class="col-xs-4">
                <%= link_to(image_tag("aipb_logo.png"), "https://www.atanet.org/") %>
              </div>
            </div>
      </div>

      </div>

</div>
</body>
</html>