
<%= form_tag("/employee_application_submit", multipart: true) do %>

<div class="form-group">
  <label for="name"><%= ContactUsHelper.send(ApplicationHelper.get_language_tag + "name").html_safe %>*</label>
  <br>
    <span class=<%="taxes-warning" + if !@name_warning then " hidden" else "" end%>>
        <%= ContactUsHelper.send(ApplicationHelper.get_language_tag + "name_warning").html_safe %>
    </span>
  <input type="text" name='name' class="form-control" id="name">
</div>
    <%= file_field_tag 'file' %>
<br>
<%= submit_tag nil, class: 'btn btn-default' %>
<% end %>
<br>
