<h3 class="taxes-centered"><%= LocationHelper.send(ApplicationHelper.get_language_tag + "location").html_safe %></h3>
<hr>
<p>

  <%= LocationHelper.send(ApplicationHelper.get_language_tag + "location_para").html_safe %>

  <br>
  <br>

<div class="hidden-sm hidden-xs taxes-centered">
  <%= image_tag '48thstreet_frontview.jpg' %>
</div>

<br>
<br>

<div class="hidden-sm hidden-xs taxes-centered">
  <%= render 'maps/maps_large' %>
</div>

<br>
<br>

<div class="hidden-sm hidden-xs taxes-centered">
  <%= image_tag 'together.jpg' %>
</div>

</p>
