

    <h3 class="taxes-centered"><%= AboutHelper.send(ApplicationHelper.get_language_tag + "about").html_safe %></h3>

    <p><%= AboutHelper.send(ApplicationHelper.get_language_tag + "about_para").html_safe %></p>

<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= AboutHelper.send(ApplicationHelper.get_language_tag + "mission").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= AboutHelper.send(ApplicationHelper.get_language_tag + "mission_para").html_safe %></p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= GeneralHelper.send(ApplicationHelper.get_language_tag + "guarantee").html_safe %></h4>
  </div>
  <div class="panel-body">
    <p><%= GeneralHelper.send(ApplicationHelper.get_language_tag + "guarantee_para").html_safe %></p>
  </div>
</div>
<hr>

<div class="panel ">
  <div class="panel-heading">
    <h4><%= GeneralHelper.send(ApplicationHelper.get_language_tag + "dont_wait").html_safe %></h4>
  </div>
  <div class="panel-body">

    <p><%= GeneralHelper.send(ApplicationHelper.get_language_tag + "call").html_safe %></p>
  </div>
</div>

    <hr>

    <div class="">
      <img src="/assets/team.jpg" class="img-rounded img-responsive taxes-centered-image">
    </div>
