<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="Fj79nFyCmhaodVCM_IoKaFtm63F6drSHtoDrPxLToW0" />

  <title>
    <%= "48th street" %>
  </title>
  <%= stylesheet_link_tag 'application', media: "all", "data-turbolinks-track" => true%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="http://fonts.googleapis.com/css?family=Corben:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Righteous">
</head>
<body role="document">
<div class="container">
  <div class="container">

  <nav role="navigation" class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>
    <div id="navbarCollapse" class="collapse navbar-collapse taxes-navbar-content">
      <ul class="nav navbar-nav">

      <% if !@current_user %>

          <li><%= link_to(ApplicationHelper.send(ApplicationHelper.get_language_tag + "login").html_safe, '/login', :method => 'get', :class => "hidden") %></li>
      <%else%>

            <li> <%= link_to(ApplicationHelper.send(ApplicationHelper.get_language_tag + "logoff").html_safe,'/logout', :method => 'delete')%></li>

        <%end%>

        <li> <%= link_to(ApplicationHelper.send(ApplicationHelper.get_language_tag + "home").html_safe, home_path, :method => 'get',"data-toggle" => "tab") %></li>
        <li> <%= link_to(ApplicationHelper.send(ApplicationHelper.get_language_tag + "about").html_safe, about_path, :method => 'get', "data-toggle" => "tab") %> </li>
        <li> <%= link_to(ApplicationHelper.send(ApplicationHelper.get_language_tag + "services").html_safe, services_path, :method => 'get', "data-toggle" => "tab") %></li>
        <li> <%= link_to(ApplicationHelper.send(ApplicationHelper.get_language_tag + "itin").html_safe, '/itin', :method => 'get') %></li>
        <li> <%= link_to(ApplicationHelper.send(ApplicationHelper.get_language_tag + "questions_and_answers").html_safe,'/questions_and_answers', :method => 'get') %></li>
        <li> <%= link_to(ApplicationHelper.send(ApplicationHelper.get_language_tag + "privacy").html_safe,'/privacy',:method => 'get') %></li>
        <li> <%= link_to(ApplicationHelper.send(ApplicationHelper.get_language_tag + "location").html_safe, '/location', :method => 'get') %></li>
        <li> <%= link_to(ApplicationHelper.send(ApplicationHelper.get_language_tag + "contact_us").html_safe, '/contact_us', :method => 'get') %></li>
        <li> <%= link_to(ApplicationHelper.send(ApplicationHelper.get_language_tag + "same_sex_marriage").html_safe, '/same_sex_marriage', :method => 'get') %></li>




      </ul>
    </div>
    </div>
  </nav>

    </div>
      <div id="main" class="container taxes-content" role="main">

        <div class="jumbotron taxes-jumbotron">
          <h1 class="taxes-centered">48th STREET INCOME TAX SERVICE</h1>

          <br>

              <p class="right-aligned">
                <a class="btn btn-lg taxes-button" href="/change_to_english" role="button">English</a>
                <a class="btn btn-lg taxes-button" href="/change_to_spanish" role="button">Espa&ntildeol</a>
              </p>

          <br>
          <br>

          <div class="hidden-md hidden-lg taxes-centered taxes-centered-image taxes-jumbotron">
          <%= SidebarHelper.send(ApplicationHelper.get_language_tag + "contact_us").html_safe %>
            </div>
        </div>

        <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "alert alert-#{name}" %>
        <% end -%>

            <div class="row">

              <div class="col-md-8 ">


                <%= yield %>
              </div>

              <div class="col-md-4 taxes-stacked">
                <%= render 'sidebar/sidebar' %>
              </div><!-- /.sidebar -->



              </div>
            </div><!-- /.row -->


            <hr>
            <div class="panel-heading">
            <h3 class="taxes-centered"><%= ApplicationHelper.send(ApplicationHelper.get_language_tag + "social") %></h3>
              </div>
            <hr>

            <div class="row">

              <div class="col-md-3 taxes-spaced">
                <a href="https://www.facebook.com/pages/48th-Street-Income-Tax-Service/153994068075540">
                    <img src="assets/facebook_flat.png" class="img-rounded img-responsive taxes-centered-image">
                </a>
              </div>

              <div class="col-md-3 taxes-spaced">
                <a href="https://plus.google.com/113009331922345317870">
                    <img src="assets/google_flat.png" class="img-rounded img-responsive taxes-centered-image">
                </a>
              </div>

              <div class="col-md-3 taxes-spaced">
                <a href="https://www.linkedin.com/pub/clemente-velasco/37/648/65">
                    <img src="assets/linkedin_flat.png" class="img-rounded img-responsive taxes-centered-image">
                </a>
              </div>

              <div class="col-md-3 taxes-spaced">
                <a href="https://twitter.com/031574">
                    <img src="assets/twitter_flat.png" class="img-rounded img-responsive taxes-centered-image">
                </a>
              </div>
              </div>

            <hr>

            <br>
            <br>
            <br>

            <hr>
            <div class="panel-heading">
              <h3 class="taxes-centered"><%= ApplicationHelper.send(ApplicationHelper.get_language_tag + "members") %></h3>
            </div>

            <hr>
            <div class="">

                <div class="row">
                  <div class="col-md-4 taxes-spaced">
                    <%= link_to(image_tag("natp_logo_words_2.jpg", :class => 'taxes-centered-image'), "http://www.natptax.com/Pages/default.aspx") %>
                  </div>
                  <div class="col-md-4 taxes-spaced">
                    <%= link_to(image_tag('efile_logo.jpg', :class => 'taxes-centered-image'), "http://www.irs.gov/Filing/E-File-Options") %>

                  </div>
                  <div class="col-md-4 taxes-spaced">

                    <%= link_to(image_tag("better_business_bureau_logo_aplus.png", :class => 'taxes-centered-image'), "http://www.bbb.org/iowa/business-reviews/tax-return-preparation/48th-street-income-tax-service-in-denison-ia-32046966") %>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 taxes-spaced">
                    <%= link_to(image_tag("najit_logo.png", :class => 'taxes-centered-image'), "http://www.najit.org/") %>
                  </div>
                  <div class="col-md-4 taxes-spaced">

                    <%= link_to(image_tag("ata_logo.png", :class => 'taxes-centered-image'), "https://www.atanet.org/") %>
                  </div>
                  <div class="col-md-4 taxes-spaced">
                    <%= link_to(image_tag("aipb_logo.png", :class => 'taxes-centered-image'), "http://www.aipb.org/") %>
                  </div>
                </div>

              <div class="row">
                <div class="col-md-12 taxes-spaced taxes-centered-image">
                  <%= link_to(image_tag("acceptance_agent.jpg", :class => 'taxes-centered-image'), "http://www.irs.gov/Individuals/Acceptance-Agents--Iowa") %>
                </div>
              </div>

            </div>
      </div>

      </div>

            <hr>

<footer class="taxes-centered-image taxes-centered">
  &copyCopyrights.  All Rights Reserved by 48th Street Income Tax Service.
  <br>
  <br>
  109 South Main Street
  <br>
  Denison, IA
</footer>
</div>
</body>

</html>